@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;500&family=Roboto:wght@300;500&display=swap');

*, body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Roboto;
}


.navbar{
    background-color: #1b325f;
}

.navbar .navbar-text{
    color: white !important;
    font-size: 20px;
}

.navbar .nav-item{
    font-weight: 300;
}

.navbar .nav-item:hover{
    text-decoration: underline;
    font-weight: 500;
}

.about-me{
    background-color: #e9f2f9;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.about-me .about-me-name{
    font-size: 50px;
    font-weight: 300;
}

.about-me .about-me-job{
    font-size: 30px;
    font-weight: 500;
}

.about-me .ref-icon{
    color: #1b325f;
    text-decoration: none;
}

.about-me .ref-icon:hover{
    color: #f26c4f;
    box-shadow: #9cc4e4;
}

.education{
    background-color: gray;
}

.experience{
    background-color: lightgreen;
}

.footer{
    background-color: floralwhite;
}