@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;500&family=Roboto:wght@300;500&display=swap');

*, body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Roboto;
}

.navbar{
    background-color: #1b325f;
}

.navbar .navbar-text{
    color: white !important;
    font-size: 20px;
}

.navbar .nav-item{
    font-weight: 300;
}

.navbar .nav-item:hover{
    text-decoration: underline;
    font-weight: 500;
}

.about-me{
    background-color: #e9f2f9;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.about-me .about-me-name{
    font-size: 50px;
    font-weight: 300;
}

.about-me .about-me-job{
    font-size: 30px;
    font-weight: 500;
}

.about-me .ref-icon{
    color: #1b325f;
    text-decoration: none;
}

.about-me .ref-icon:hover{
    color: #f26c4f;
    box-shadow: #9cc4e4;
}

.about-me .row{
    width: 40%;
    font-size: 20px;
    font-weight: 300;
}

.about-me .about-me-data{
    font-size: 16px;
}

.personal-data{
    background-color: #e9f2f9;
}

.education{
    background-color: #e9f2f9;
}

.education .cards{
    justify-content: space-around;
}

.education .education-title{
    font-size: 30px;
    font-weight: 500;
}

.education .badge{
    width: auto;
    height: auto;
    font-weight: 300;
    background-color: #1b325f;
    font-size: 14px;
}

.education .card-title{
    font-size: 20px;
}

.education .card-subtitle{
    font-size: 17px;
}

.education .card-text{
    font-size: 15px;
}

.experience{
    background-color: #e9f2f9;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.experience .cards{
    width: 70%;
    background-color: #e9f2f9;
}

.experience .card{
    background-color: #e9f2f9;
    border: none;
}


.experience .experience-title{
    font-size: 30px;
    font-weight: 500;
}

.experience .badge{
    width: auto;
    height: auto;
    font-weight: 300;
    background-color: #1b325f;
    font-size: 15px;
}

.experience .card-title{
    font-size: 20px;
}

.experience .card-subtitle{
    font-size: 17px;
}

.experience .card-text{
    font-size: 15px;
}

.footer{
    background-color: #1b325f;
}

.footer .footer-text{
    font-weight: 300;
}

.footer .ref-icon{
    color: #e9f2f9;;
    text-decoration: none;
}

.footer .ref-icon:hover{
    color: #f26c4f;
    box-shadow: #9cc4e4;
}